<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ionrow>
    <ion-card class="card" style="width: 30%">
      <ion-img class="img-login center" src="../assets/3f1cf0e2c1db8beaca0cffd41c24a826.png"></ion-img>
      <ion-card-content>
        <ion-button expand="block" color="success" ><ion-icon name="fast-food"></ion-icon> Hamburguer</ion-button>
      </ion-card-content>
    </ion-card>

  </ionrow>
</ion-content>
