<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let categories of categories" class="card">
      <ion-card-content>
        <ion-button expand="block" color="success" ><ion-icon name="list"></ion-icon> {{categories.name}}</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
