.titulo-home{
    font-size:13px;
}

  .titulo-produto{
       font-size:14px;
       font-weight:300;
  }

  .preco-produto{
    font-size:13px;
    font-weight:200;
   }

   .margin-l{
      margin-left: 20px;
   }