<ion-header>

  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>O que você quer comer hoje?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let products of products$ | async" class="card" style="width: 30%">
      <ion-img class="img-login center" src="../assets/3f1cf0e2c1db8beaca0cffd41c24a826.png"></ion-img>
      <ion-card-header>
        <ion-card-title class="titulo-produto">{{products.name}}</ion-card-title>
        <ion-card-subtitle>{{products.description}}</ion-card-subtitle>
        <ion-card-subtitle>{{products.price}}</ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="success" ><ion-icon name="cart"></ion-icon>ADD</ion-button>
      </ion-card-content>
    </ion-card>
  
</ion-content>


